body {
    font-family: 'outfit';
}

.navBar {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    gap: 35px;
    height: 64px;
    background: #2B2A2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.logo {
    display: flex;
    width: 186px;
    height: 36px;
    align-items: center;
    gap: 7.33px;
}

.logo a {
    width: 186px;
    height: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 23.46px;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
}

.menuWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    gap: 16px;
    width: 512px;
    height: 32px;
    opacity: 0;
}

.menuWrapper a {
    width: auto;
    height: 36px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 36px;
    text-decoration: none;
    color: #fff;
}

.contacLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 24px;
    width: 288px;
    height: 40px;
}

.phoneContact {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0px;
    gap: 8px;
    width: 140px;
    height: 24px;

}

.phoneContact p {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 65px;
    width: 108px;
    height: 50px;
}

.logIn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    gap: 8px;
    width: 134px;
    height: 40px;
    background: #515051;
    border-radius: 4px;
}

.logIn a {
    width: 90px;
    height: px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.shopingCarIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 56px;
    height: 24px;
}

.cart {
    width: 24px;
    height: 24px;
}

.count-product {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px;
        gap: 8px;
        width: 24px;
        height: 24px;
        background: rgba(247, 245, 243, 0.1);
        border-radius: 200px;
}

.count-product p {
    position: relative;
    top: 8px;
    width: 7px;
    height: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.productsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 24px;
    width: auto;
    height: auto;
}

.productsCard h2 {
    width: auto;
    height: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #2A5B45;
}

.frame13 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 1200px;
    height: auto;
}

.producTable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    width: 792px;
    height: auto;
}

.producTable h3 {
    width: auto;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.producTable hr {
    width: 776px;
    height: 0px;
    border: 1px solid #E3DED7;
}

.rowItem {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    gap: 24px;
    width: auto;
    height: auto;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 88px;
    height: 55.66px;
}

.minus-input {
    width: 24px;
    height: 24px;
}

.minus {
    position: relative;
    top: -2px;
    left: 4.5px;
    width: 15px;
    height: auto;
}

.number-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: 24px;
    height: 24px;
    background: rgba(42, 91, 69, 0.1);
    border-radius: 200px;
}

.addQuantity {
    position: relative;
    top: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #2A5B45;
}

.plus-input {
    width: 24px;
    height: 24px;
}

.plus {
    position: relative;
    top: -2px;
    left: 4.5px;
    width: 15px;
    height: 15px;
}

.coffeBag {
    width: 55.66px;
    height: 55.66px;
}

.itemImg {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.item-content {
    display: flex;
    align-items: center;
    padding: 0px;
    width: 306.34px;
    height: auto;
}

.item-title {
    width: 147px;
    height: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.cart-price {
    width: 149px;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.item-title-details {

    display: flex;
    position: relative;
    top: 15px;

    flex-direction: row;
    align-items: baseline;
    padding: 0px;
    gap: 8px;
    width: 54px;
    height: 24px;
}

.item-title-details h3 {
    width: 54px;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.delete-product {
    display: flex;
    position: relative;
    top: 15px;
    left: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: none;
}

.shipping {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: auto;
    height: auto;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 657px;
    height: auto;
    line-height: 0;

}

.standar {
    width: auto;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 50px;
    color: #000000;
}

.conditions {
    width: auto;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}









.totalCart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    width: 384px;
    height: auto;
    background: #F7F5F3;
    border-radius: 10px;
}

.totalDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: auto;
    height: auto;
}

.totalDetails h3 {
    width: 129px;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.totalDetails hr {
    width: 336px;
    height: 0px;
    border: 1px solid #E3DED7;
}

.subTotalDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 336px;
    height: 16px;
}

.detailOfTotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 336px;
    height: 40px;
}

.subtotalTitle {
    width: 70px;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;

}

.subtotalAmount {
    width: 48px;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-align: right;
}

.totalTitle {
    width: 45px;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.totalAmount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 8px;
    width: 107px;
    height: 40px;
}

.subtotalIVA {
    width: 127px;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #515051;
}

.totalBtn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;
    width: 196px;
    height: 40px;
    background: #2A5B45;
    opacity: 0.3;
    border-radius: 4px;
}

.payAndOrder {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;
    width: auto;
    height: 50px;
    background: #2A5B45;
    opacity: 0.3;
    border-radius: 4px;
}

.payAndOrder p {
    width: 148px;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.buttonsWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 100%;
    height: 100%;
}

.checkout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 24px;
    gap: 8px;
    width: 132px;
    height: 100%;
    background: #2A5B45;
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    border-color: #fff;
}

.keepBuying {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 24px;
    gap: 8px;
    width: auto;
    height: 100%;
    border-radius: 4px;
    width: auto;
    height: auto;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: #2A5B45;
    border-color: #fff;
}

.copyRighFooter {
    display: flex;
    background: #2B2A2B;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.copyRighFooter p {
    width: 359px;
    height: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
}