body {
    width: 1280px;
    font-family: 'outfit';
}

.navBar {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    gap: 35px;
    height: 64px;
    background: #2B2A2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.logo {
    display: flex;
    width: 186px;
    height: 36px;
    align-items: center;
    gap: 7.33px;
}

.logo a {
    width: 186px;
    height: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 23.46px;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
}

.menuWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    gap: 16px;
    width: 512px;
    height: 32px;
}

.menuWrapper a {
    width: auto;
    height: 36px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 36px;
    text-decoration: none;
    color: #fff;
}

.contacLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 24px;
    width: 288px;
    height: 40px;
}

.phoneContact {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0px;
    gap: 8px;
    width: 140px;
    height: 24px;

}

.phoneContact p {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 65px;
    width: 108px;
    height: 50px;
}

.logIn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    gap: 8px;
    width: 134px;
    height: 40px;
    background: #515051;
    border-radius: 4px;
}

.logIn a {
    width: 90px;
    height: px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}


.cart{
    width: 39px;
    height: 38px;
}
.cart-products{
    position: absolute!important;
    top: 82px;
    right: -18px;
    color: #000;
    background-color: #fff;
    padding: 0 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;

    min-width: 290px;
}

.cart:hover{
    margin-bottom: 16px;
    transition-duration: .5s;
}





.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px 40px;
    gap: 8px;
    height: 486px;
    background: rgba(227, 222, 215, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.heroWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 1200px;
    height: 390px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 16px;
    width: 588px;
    height: 232px;
}

.pre {
    width: 588px;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #2A5B45;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

h1 {
    width: 588px;
    height: 88px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    color: #000000;
}

.paragraph {
    width: 588px;
    height: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(227, 222, 215, 0.3);
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    gap: 16px;
    width: 100%;
    height: 40px;

}

.origins {
    padding: 12px 24px;
    gap: 8px;
    width: 120;
    height: 45px;
    background: #1F1815;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;

}

.shopping {
    padding: 12px 24px;
    gap: 8px;
    width: 140px;
    height: 45px;
    background: #2A5B45;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;

}

.Cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 147px;
    gap: 24px;
    height: 380px;
    background: url(../assets/img/086aa1e226e5adfe010fd0fb3ff3e2cb.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.Cards h2 {
    width: 350px;
    height: 28px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.cardWrapper {
    display: flex;
    justify-content: space-between;
}

.conditions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 16px;
    width: 316px;
    height: 232px;
    background: #FFFFFF;
    border: 1px solid #F7F5F3;
    box-shadow: 0px 1px 4px rgba(227, 222, 215, 0.8);
    border-radius: 8px;
}

.conditions picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 8px;
    width: 64px;
    height: 64px;
    background: #2A5B45;
    border-radius: 20px;
}

.conditions h3 {
    width: 268px;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #2B2A2B;
}

.conditions p {
    width: 268px;
    height: 64px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #111827;
}

.productsCards {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 40px;
    height: 603.39px;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.productsCards article:hover {
    border: 2px solid #E3DED7;
    border-radius: 8px;
    background-color: #F7F5F3;
}

.productsCards h2 {
    width: 120px;
    height: 28px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #2A5B45;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.productCardWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 1200px;
    height: 391.39px;
}

.productCardWrapper article {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    gap: 24px;
    width: 282px;
    height: 391.39px;
    border: 1px solid #E3DED7;
    border-radius: 8px;
}

.productImg {
    width: 219.39px;
    height: 219.39px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 160px;
    height: 44px;

}

.productInfo a {
    width: 145px;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.productInfo p {
    width: 500px;
    height: 16px;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

.productButton {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 60px;
    height: 32px;
    background: rgba(42, 91, 69, 0.7);
    border-radius: 4px;
}

.productButton a {
    width: 44px;
    height: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;

}

.link-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 16px;
    height: 24px;

}

.link-product a {
    width: 78px;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #000000;
}



.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0%;
    gap: 24px;
    height: 604px;
    background: #2A5B45;

}

.faq h2 {
    width: 228px;
    height: 28px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.faqWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 668px;
    height: 408px;

}

.infoFAQ {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    width: 668px;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.chevronup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 620px;
    height: 24px;
}

.infoFAQ h3 {
    width: 100%;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: #2B2A2B;
}

.infoFAQ hr {
    width: 620px;
    height: 0px;
    border: 1px solid #E3DED7;
}

.infoFAQ p {
    width: 620px;
    height: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #2B2A2B;

}


.linkDoubts {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 178px;
    height: 24px;
}

.linkDoubts a {
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #fff;
}

.featureSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 40px;
    gap: 8px;

    height: 486px;
}

.featureSectionWrapper {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 24px;
}

.contentFeatureSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 588px;
    height: 116px;
}

.contentFeatureSection h2 {
    width: 340px;
    height: 28px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #2A5B45;
}

.contentFeatureSection p {
    width: 588px;
    height: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #111827;
}

.link-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    height: 24px;
}

.link-icon a {
    width: 78px;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #000000;
}

.store {
    width: 588px;
    height: 390px;
    border-radius: 20px;
}

.store img {
    width: 588px;
    height: 390px;
    border-radius: 20px;
}

.Split-Desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 552px;
    background: #E3DED7;
}

.leadingContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 1200px;
    height: 552px;
    background: #E3DED7;
    opacity: 0.9;
}

.leadingContent h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #111827;
}

.leadingContent p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6B7280;
}

.contactSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 588px;
    height: 320px;
}

.contactSection a {
    color: #000;
}

.trailingContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 32px 32px 48px;
    width: 588px;
    height: 552px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 24px;
    width: 470px;
    height: 488px;
}

label {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

input {
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

input[type=checkbox] {
    transform: scale(1.8);
}

.articleForm {
    display: flex;
    flex-direction: column;
}

#phoneCode {
    width: 90px;
    height: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.phoneBox {
    display: flex;
}

textarea {
    height: 110px;
}

.checkterm {
    display: flex;
    vertical-align: middle;

}

#checkBoxForm {
    display: flex;
    gap: 10px;
    align-items: center;
}

#checkBoxForm p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.help {
    padding: 12px 24px;
    width: fit-content;
    background: #2A5B45;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.help a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    height: 270px;
    background: #1F1815;
    justify-content: space-between;

}

.footerWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: relative;
    width: 1200px;
    height: 204px;
    left: 40px;
    top: 28.61px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 7.33px;
    width: 288px;
    height: 36px;
}

.linksContac {
    display: flex;
    width: 1132px;
    height: 152px;
}

.contactWraper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: relative;
    width: 255.33px;
    height: 152px;
    left: 0px;
    top: 0px;
    color: #fff;
}

.mailAndPhone {
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    gap: 8px;
    width: fit-content;
    height: 40px;
    background: #515051;
    border-radius: 4px;
}

.mailAndPhone a {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    gap: 8px;
}

.mailAndPhone a img {
    height: fit-content;
}

.menuFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 96px;
    height: 144px;
    left: 577px;
}

.menuFooter a {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    gap: 8px;
}

.FooterTerm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 255.33px;
    height: 80px;
    left: 800px;
}

.FooterTerm a {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    gap: 8px;
}

.copyRighFooter {
    display: flex;
    background: #2B2A2B;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.copyRighFooter p {
    width: 359px;
    height: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
}