body {
    font-family: 'outfit';
}

.navBar {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    gap: 35px;
    height: 64px;
    background: #2B2A2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.logo {
    display: flex;
    width: 186px;
    height: 36px;
    align-items: center;
    gap: 7.33px;
}

.logo a {
    width: 186px;
    height: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 23.46px;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
}

.menuWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    gap: 16px;
    width: 512px;
    height: 32px;
}

.menuWrapper a {
    width: auto;
    height: 36px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 36px;
    text-decoration: none;
    color: #fff;
}

.contacLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 24px;
    width: 288px;
    height: 40px;
}

.phoneContact {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0px;
    gap: 8px;
    width: 140px;
    height: 24px;
}

.phoneContact p {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 65px;
    width: 108px;
    height: 50px;
}

.logIn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    gap: 8px;
    width: 134px;
    height: 40px;
    background: #515051;
    border-radius: 4px;
}

.logIn a {
    width: 90px;
    height: px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.basketHeading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 30px;
}

.shopingCarIcon {
    justify-items: center;
    text-align: justify;
    align-content: center;
    width: 39px;
    height: 38px;
    border-radius: 4px;
    z-index: 10;
}

.count-product {
    position: absolute;
    top: 0;
    transform: translate(14px, 13px);
    z-index: 10;
}

.cart {
    width: 39px;
    height: 38px;
    border-radius: 20%;
    background-color: #2B2A2B;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 24px;
    width: auto;
    min-height: 1050px;
    height: auto;
}

.illustration {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    width: 64px;
    height: 64px;
    background: #2A5B45;
    border-radius: 20px;
}

.clipboardCheck {
    width: 40px;
    height: 40px;
}

.clipboardCheck img {
    position: relative;
    left: 19%;
    top: 5%;
}

.cards h2 {
    width: 383px;
    height: 28px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #2A5B45;
}

.cardP {
    width: 346px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

.resumen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 24px;
    width: 1200px;
    height: auto;
    background: #F7F5F3;
    border-radius: 10px;
}

.resumen h3 {
    width: 1152px;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.rowItem {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 50px;
    gap: 24px;
    width: 1200px;
    height: auto;
}

.counter {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 88px;
    height: 55.66px;
}

.number-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: 24px;
    height: 24px;
    background: rgba(42, 91, 69, 0.1);
    border-radius: 200px;
}

.addQuantity {
    position: relative;
    top: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #2A5B45;
}

.coffeBag {
    width: 55.66px;
    height: 55.66px;
}

.itemImg {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.item-content {

    display: flex;
    align-items: center;
    padding: 0px;
    width: 990px;
    height: auto;
}

.item-title {
    width: 147px;
    height: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.cart-price {
    width: 149px;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;


}

.item-title-details {
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 8px;
    width: 54px;
    height: 24px;

}

.item-title-details h3 {
    width: 54px;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.details {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 1152px;
    height: auto;
}

.details hr {
    width: 1152px;
    height: 0px;
    border: 1px solid #E3DED7;
}

.carrDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 1152px;
    height: 16px;
}

.p1 {
    width: 70px;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.p2 {
    width: 48px;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.carrDetailsTotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 1152px;
    height: 60px;
}

.carrDetailsTotalp {
    width: 45px;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.frame14 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 8px;
    width: auto;
    height: auto;
}

.smallP {
    width: auto;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #515051;
}

.backToStoreBtn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;
    width: auto;
    height: 40px;
    background: #2A5B45;
    border-radius: 4px;
}

.backToStore {
    width: 110px;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.copyRighFooter {
    display: flex;
    background: #2B2A2B;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.copyRighFooter p {
    width: 359px;
    height: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
}