body {
    font-family: 'outfit';
}

.navBar {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    gap: 35px;
    height: 64px;
    background: #2B2A2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.logo {
    display: flex;
    width: 186px;
    height: 36px;
    align-items: center;
    gap: 7.33px;
}

.logo a {
    width: 186px;
    height: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 23.46px;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
}

.menuWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    gap: 16px;
    width: 512px;
    height: 32px;
}

.menuWrapper a {
    width: auto;
    height: 36px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 36px;
    text-decoration: none;
    color: #fff;
}

.contacLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 24px;
    width: 288px;
    height: 40px;
}

.phoneContact {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0px;
    gap: 8px;
    width: 140px;
    height: 24px;

}

.phoneContact p {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 65px;
    width: 108px;
    height: 50px;
}

.logIn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    gap: 8px;
    width: 134px;
    height: 40px;
    background: #515051;
    border-radius: 4px;
}

.logIn a {
    width: 90px;
    height: px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}


.basketHeading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 30px;
}

.shopingCarIcon {
    justify-items: center;
    text-align: justify;
    align-content: center;
    width: 39px;
    height: 38px;
    border-radius: 4px;
    z-index: 10;
}

.count-product {
    position: absolute;
    top: 0;
    transform: translate(14px, 13px);
    z-index: 10;
}

.cart {
    width: 39px;
    height: 38px;
    border-radius: 20%;
    background-color: #2B2A2B;
}

.cart-products {
    display: none;
    flex-direction: column;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 10px;
    position: fixed;
    top: 82px;
    left: 700px;
    margin-right: 60%;
    overflow: auto;
    padding: 10px;
    gap: 10px;
    scroll-padding: 10px;
    width: 600px;
    max-height: 500px;
    color: #000;
    background-color: #b7d2c6;
    border: 2px solid #2A5B45;
    z-index: 10;
    border-radius: 15px;
}



.rowItem {
    display: flex;
    border: 2px solid #2A5B45;
    background-color: whitesmoke;
    justify-content: space-around;
    align-items: center;
    color: #000;
    text-align: center;
    line-height: 1.3em;
    border-radius: 1rem;
    margin: 2%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #2A5B45;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    border: none;
    border-radius: .2rem;
}


.productsCards {
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    align-self: stretch;

    padding: 40px;
    gap: 40px;
    height: 1000px;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    flex: none;
    flex-grow: 0;
}

.productsCards article:hover {
    border: 2px solid #E3DED7;
    border-radius: 8px;
    background-color: #F7F5F3;
}

.productsCards h2 {
    width: 179px;
    height: 28px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #2A5B45;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.productCardWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 1200px;
    height: 391.39px;
}

.productCardWrapper article {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    gap: 24px;
    width: 282px;
    height: 391.39px;
    border: 1px solid #E3DED7;
    border-radius: 8px;
}

.productImg {
    width: 219.39px;
    height: 219.39px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 160px;
    height: 44px;

}

.productInfo a {
    width: 145px;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.productInfo p {
    width: 500px;
    height: 16px;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

.productButton {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 8px;
    width: 60px;
    height: 32px;
    background: rgba(42, 91, 69, 0.7);
    border-radius: 4px;
}

.productButton button {
    margin: -3px;
    width: 44px;
    height: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background: none;
    border: none;
}


/* --- --- --- ---*/


.Cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 147px;
    gap: 24px;
    height: 380px;
    background: url(../assets/img/086aa1e226e5adfe010fd0fb3ff3e2cb.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Cards h2 {
    width: 350px;
    height: 28px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.cardWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 996px;
    height: 232px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.conditions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 16px;
    width: 316px;
    height: 232px;
    background: #FFFFFF;
    border: 1px solid #F7F5F3;
    box-shadow: 0px 1px 4px rgba(227, 222, 215, 0.8);
    border-radius: 8px;
}

.conditions picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 8px;
    width: 64px;
    height: 64px;
    background: #2A5B45;
    border-radius: 20px;
}

.conditions h3 {
    width: 268px;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #2B2A2B;
}

.conditions p {
    width: 268px;
    height: 64px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #111827;
}


footer {
    display: flex;
    flex-direction: column;
    height: 270px;
    background: #1F1815;
    justify-content: space-between;

}

.footerWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: relative;
    width: 1200px;
    height: 204px;
    left: 40px;
    top: 28.61px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 7.33px;
    width: 288px;
    height: 36px;
}

.linksContac {
    display: flex;
    width: 1132px;
    height: 152px;
}

.contactWraper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: relative;
    width: 255.33px;
    height: 152px;
    left: 0px;
    top: 0px;
    color: #fff;
}

.mailAndPhone {
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    gap: 8px;
    width: fit-content;
    height: 40px;
    background: #515051;
    border-radius: 4px;
}

.mailAndPhone a {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    gap: 8px;
}

.mailAndPhone a img {
    height: fit-content;
}

.menuFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 96px;
    height: 144px;
    left: 577px;
}

.menuFooter a {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    gap: 8px;
}

.FooterTerm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 255.33px;
    height: 80px;
    left: 800px;
}

.FooterTerm a {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    gap: 8px;
}

.copyRighFooter {
    display: flex;
    background: #2B2A2B;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.copyRighFooter p {
    width: 359px;
    height: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
}

.answer {
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
}

.open_close {
    max-height: 500px;
    transition: max-height 1.2s ease-in;
}

.infoProduct {
    background-color: #2A5B45;
    display: flex;
    
}

#Cant {
    background-color: #1F1815;
    width: 150px;
}

#brand {
    background-color:rebeccapurple;
    width: 300px;
}

#price {
    background-color:red;
    width: 130px;
}